.addition {
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.addition__legend {
  padding: 0;
  line-height: 16px;
  text-transform: uppercase;
  color: @seafoam;
  margin-bottom: 25px;
  background-image: linear-gradient(@seafoam, @seafoam);
  background-size: 198px 1px;
  background-repeat: no-repeat;
  background-position: right top 8px;
}

.addition__order {
  resize: none;
  width: 175px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 70px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  .greyish;
  border: solid 2px @greyish;

  &::placeholder {
    .greyish-lite;
  }

  &:hover,
  &:focus {
    border: solid 2px @seafoam-blue;
  }

  &:active {
    .greyish;
  }
}

@media (min-width: @tablet-width) {
  .addition {
    width: 665px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .addition__legend {
    width: 60px;
    margin: 0;
    margin-top: 18px;
    background: none;
  }

  .addition__order {
    width: 405px;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .addition {
    width: 825px;
    margin-left: 110px;
  }

  .addition__legend {
    padding: 0;
    margin-right: 75px;
  }

  .addition__order {
    width: 700px;
    margin-bottom: 40px;
  }
}
