.advantages__head {
  font-size: 25px;
  line-height: 30px;
}

.advantages__list {
  line-height: 20px;
}

.advantages__item {
  padding: 45px 0;
  background-repeat: no-repeat;
  background-position: top left;
  &--eco {
    background-image: url(../img/icon-feature-flower.svg);
  }
  &--low {
    background-image: url(../img/icon-feature-money.svg);
  }
  &--like {
    background-image: url(../img/icon-feature-heart.svg);
  }
  &--hand {
    background-image: url(../img/icon-feature-ball.svg);
  }
  &--home {
    background-image: url(../img/icon-feature-rocket.svg);
  }
  &--gift {
    background-image: url(../img/icon-feature-gift.svg);
  }
}
