.advantages {
  width: 320px;
  margin: 0 auto;
  height: 790px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.advantages__head {
  margin: 0;
  margin-bottom: 15px;
  padding-left: 30px;
  font-size: 25px;
  line-height: 30px;
}

.advantages__list {
  list-style: none;
  width: 250px;
  margin: 0;
  padding-left: 30px;
  line-height: 20px;
}

.advantages__item {
  padding-top: 80px;
  background-repeat: no-repeat;
  background-position: 1% 30%;

  &--eco {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--low {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--hand {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--home {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift {
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 772px;
    height: 570px;
  }

  .advantages__head {
    margin-bottom: 20px;
    padding-left: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    font-size: 20px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 450px;
  }

  .advantages__item {
    width: 295px;
    margin-left: 15px;
    padding-top: 100px;
    padding-right: 20px;
  }

  .advantages__item span {
    padding-right: 60px;
  }

  .advantages__item--eco span {
    padding-right: 70px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1150px;
    height: 590px;
  }

  .advantages__list {
    padding-left: 225px;
  }

  .advantages__head {
    margin-bottom: 5px;
    padding-left: 225px;
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__item {
    padding-top: 105px;
  }
}
