.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog--active {
  margin: 0 auto;
  padding: 72px 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  .light-pink;
}

.catalog__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 30px;
  width: 260px;
}

.catalog__item {
  position: relative;
  margin-bottom: 30px;
  border: solid 1px @very-light-pink;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__link {
  &:hover,
  &:focus {
    .catalog__title {
      opacity: 0.6;
    }
  }

  &:active {
    .catalog__title {
      opacity: 0.3;
    }
  }
}

.catalog__foto {
  width: 260px;
  height: 195px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 5px;
  padding-left: 25px;
  padding-top: 20px;
  font-size: 17px;
}

.catalog__price {
  width: 205px;
  margin: 0;
  margin-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 15px;
  text-align: left;
  border-top: 1px solid @very-light-pink;
}

.catalog__options {
  margin: 0;
  padding-left: 25px;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  .greyish;
}

.catalog__icon {
  position: absolute;
  width: 20px;
  height: 19px;
  bottom: 30px;
  right: 30px;
  opacity: 0.2;

  &:hover,
  &:focus {
    opacity: 1;
    fill: @seafoam;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 772px;

    &::before {
      content: "";
      position: absolute;
      width: 772px;
      height: 23px;
      top: 290px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 23px;
    }
  }

  .catalog--active {
    margin-top: -65px;
    margin-bottom: 40px;
    padding-top: 100px;
    font-size: 43px;
    line-height: 50px;
  }

  .catalog__list {
    width: 669px;
    margin: 0 auto;
    margin-top: 70px;
  }

  .catalog__item {
    width: 669px;
    display: flex;
    margin-bottom: 50px;
  }

  .catalog__image {
    width: 334px;
  }
  .catalog__wrapper {
    width: 335px;
  }

  .catalog__foto {
    position: absolute;
    width: 334px;
    height: auto;
    top: 0;
    left: 0;
  }

  .catalog__options {
    width: 275px;
    padding-bottom: 184px;
    font-size: 15px;

    &--toys {
      padding-bottom: 160px;
    }
  }

  .catalog__title {
    font-size: 20px;
  }

  .catalog__price {
    width: 268px;
    padding-top: 20px;
    font-size: 17px;
  }

  .catalog__icon {
    bottom: 30px;
    right: 40px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1150px;
    margin-bottom: 25px;

    &::before {
      width: 1150px;
      height: 34px;
      top: 340px;
      background-size: auto;
    }
  }

  .catalog--active {
    margin-bottom: 80px;
    padding-top: 95px;
    padding-bottom: 110px;
    font-size: 53px;
    line-height: 57px;
  }

  .catalog__list {
    width: 1050px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 316px;
    flex-direction: column;
    margin-right: 45px;
    padding-left: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog__image,
  .catalog__wrapper {
    width: 316px;
  }

  .catalog__foto {
    position: relative;
    width: 316px;
    height: 462px;
  }

  .catalog__options {
    margin: 0;
    padding-bottom: 45px;

    &--toys {
      padding-bottom: 19px;
    }
  }

  .catalog__price {
    margin-top: 0;
    padding-top: 27px;
    padding-bottom: 23px;
  }

  .catalog__icon {
    right: 30px;
  }
}
