.catalog__list {
  margin-bottom: 30px;
}

.catalog__item {
  margin-top: 30px;
  border: solid 1px #ececec;
}

.catalog__title {
  font-size: 17px;
}

.catalog__price {
  font-size: 15px;
}

.catalog__options {
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  .greyish;
}

.catalog__title,
.catalog__options,
.catalog__price {
  padding-left: 25px;
}
