.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__list {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  min-height: 365px;
}

.catalog__link {
  display: flex;
  flex-direction: column-reverse;
}

.catalog__foto {
  &--tablet,
  &--desktop {
    display: none;
  }
}

.catalog__item {
  margin-top: 30px;
  border: solid 1px #ececec;
}

.catalog__title {
  font-size: 17px;
}

.catalog__price {
  font-size: 15px;
}

.catalog__options {
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  .greyish;
}

.catalog__title,
.catalog__options,
.catalog__price {
  padding-left: 25px;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 772px;
  }

  .catalog__foto {
    &--mobile,
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .catalog__item {
    display: flex;
  }

  .catalog__title {
    font-size: 20px;
  }

  .catalog__options {
    font-size: 13px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1150px;
  }

  .catalog__foto {
    &--mobile,
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .catalog__list {
    height: 660px;
    flex-wrap: wrap;
  }

  .catalog__options {
    font-size: 15px;
  }
}
