.comments {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 100px;

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 23px;
    bottom: -55px;
    background-image: url("../img/bg-zigzag-line.svg");
  }
}

.comments__head {
  margin: 0;
  padding-left: 30px;
  font-size: 25px;
  line-height: 30px;
}

.comments__content {
  margin: 0;
  padding: 35px 30px 30px 30px;
}

.comments__author {
  padding-left: 30px;
}

.comments__content,
.comments__username {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  .greyish;
}

.comments__name {
  margin: 0;
  font-size: 17px;
}

.comments__pointers {
  margin: 0;
  padding: 30px 26px;
}

.comments__pointer {
  width: 130px;
  height: 52px;
  padding: 0;
  border: 1px @very-light-pink solid;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;

  &--prev {
    margin-right: -4px;
    border-right: none;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.comments__write {
  width: 260px;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 18px;

  &:hover,
  &:focus {
    color: #ffffff;
    background: @greyish;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .comments {
    width: 772px;
    margin-bottom: 150px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url("../img/review@1x.jpg");

    &::after {
      width: 772px;
      height: 23px;
      bottom: -90px;
    }

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .comments__write {
    width: 175px;
    margin: 0;
    margin-top: 70px;
    margin-right: 50px;
    align-self: flex-start;
    order: -1;
  }

  .comments__head {
    padding-top: 70px;
    padding-left: 45px;
    order: -2;
    font-size: 43px;
    line-height: 50px;
  }

  .comments__content {
    padding: 55px 45px 60px 45px;
    flex-grow: 1;
  }

  .comments__content,
  .comments__username {
    font-size: 17px;
  }

  .comments__name {
    font-size: 18px;
  }

  .comments__pointers {
    padding-top: 0;
    padding-right: 65px;
  }

  .comments__pointer {
    width: 75px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .comments {
    width: 1150px;
    background-position: 7% top;

    &::after {
      width: 1150px;
      height: 23px;
      bottom: -90px;
    }
  }

  .comments__head {
    align-self: flex-start;
    padding-left: 220px;
    font-size: 53px;
    line-height: 57px;
  }

  .comments__author {
    padding-left: 225px;
  }

  .comments__content {
    align-self: flex-start;
    padding: 0 155px 0 225px;
  }
}
