.comments__head {
  font-size: 25px;
  line-height: 30px;
}

.comments__content,
.comments__username {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  .greyish;
}

.comments__username {
  font-size: 17px;
}

.comments__pointer {
  width: 130px;
  height: 52px;
  border: solid 1px #ececec;
  background-repeat: no-repeat;
  background-position: center;
  &--prev {
    background-image: url(../img/icon-left-arrow.svg);
  }
  &--next {
    background-image: url(../img/icon-right-arrow.svg);
  }
}

.comments__write {
  font-size: 18px;
}
