.contacts__head {
  font-size: 18px;
  line-height: 30px;
}

.contacts__information {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  .greyish;
}

.contacts__field {
  text-align: center;
  vertical-align: top;
}

.contacts__value {
  vertical-align: top;
}

.contacts__imap {
  border: none;
}

.contacts__write {
  font-size: 18px;
}
