.copyright {
  width: 260px;
  min-height: 50px;
  margin: 0 auto;
  padding: 5px 5px 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid @very-light-pink;

  &:hover,
  &:focus {
    .copyright__icon {
      fill: @aqua-marine;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__title {
  margin-right: 32px;
  font-size: 18px;
  line-height: 18px;
}

.copyright__icon {
  width: 27px;
  height: 34px;
  fill: @seafoam;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 275px;
    margin: 0;
    margin-right: 35px;
    padding: 5px;
    border: none;
  }
}
