.form {
  margin-bottom: 55px;
  line-height: 18px;
}

.form__type,
.form__color,
.form__full-name,
.form__contacts,
.form__comment {
  border: none;
}

.form__legend {
  line-height: 16px;
  text-transform: uppercase;
  color: @seafoam;
}

.name__first,
.name__surname,
.name__middle,
.phone__number,
.mail__address {
  font-size: 17px;
  font-weight: normal;
  color: rgba(68, 68, 68, 0.3);
  border: none;
}

.addition__order {
  font-size: 17px;
  font-weight: normal;
  color: rgba(68, 68, 68, 0.3);
  box-shadow: inset 0 -2px 0 0 #000000;
  border: solid 2px #444444;
}

.form__note {
  font-size: 16px;
  font-weight: normal;
  .greyish;
}

.form__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
}
