.manufacture {
  position: relative;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 59px;
  border: solid 1px @very-light-pink;
}

.manufacture__play {
  &::after {
    content: "";
    position: absolute;
    width: 101px;
    height: 77px;
    top: 130px;
    left: 80px;
    background-image: url("../img/icon-play.svg");
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1.2);
  }

  &:active::after {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

.manufacture__video {
  position: relative;
  width: 260px;
  height: auto;
}

.manufacture__wrapper {
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.manufacture__head {
  position: relative;
  margin: 0;
  padding-left: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  order: -1;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 30px;
    left: 35px;
    background-image: url("../img/icon-video.svg");
  }
}

.manufacture__content {
  width: 185px;
  margin: 0;
  padding-left: 33px;
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 13px;
  font-weight: normal;
  .greyish;
}

.manufacture__order {
  width: 192px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  &:hover,
  &:focus {
    color: #ffffff;
    background: @greyish;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .manufacture {
    width: 668px;
    margin: 0 auto;
    margin-bottom: 63px;
  }

  .manufacture__play {
    &::after {
      top: 190px;
      left: 290px;
    }
  }

  .manufacture__video {
    width: 668px;
    height: auto;
  }

  .manufacture__head {
    padding-top: 32px;
    padding-left: 107px;
    font-size: 20px;
    order: 0;

    &::before {
      top: 26px;
      left: 42px;
    }
  }

  .manufacture__content {
    width: 580px;
    padding-top: 13px;
    padding-left: 40px;
    padding-bottom: 38px;
    font-size: 15px;
  }

  .manufacture__order {
    width: 584px;
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .manufacture {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 101px;
  }

  .manufacture__wrapper {
    width: 367px;
    padding-left: 682px;
  }

  .manufacture__video {
    position: absolute;
    width: 682px;
    height: auto;
    top: 0;
    left: 0;
  }

  .manufacture__head {
    width: 150px;
    padding-top: 95px;
    padding-left: 75px;

    &::before {
      top: 40px;
      left: 80px;
    }
  }

  .manufacture__content {
    width: 240px;
    padding-left: 75px;
    padding-top: 10px;
    padding-bottom: 52px;
    line-height: 28px;
  }

  .manufacture__order {
    width: 230px;
    margin-right: 55px;
    margin-bottom: 60px;
  }
}
