.page-footer {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .light-pink;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
  display: flex;
}

.page-footer__list {
  list-style: none;
  width: 260px;
  min-height: 75px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 668px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    width: 180px;

    &:hover,
    &:focus {
      fill: @aqua-marine;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__image {
    width: 102px;
    height: 34px;
  }

  .page-footer__wrapper {
    width: 230px;
  }

  .page-footer__list {
    width: 230px;
    min-height: 130px;
    padding-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1050px;
  }

  .page-footer__wrapper {
    width: 610px;
  }

  .page-footer__list {
    width: 610px;
  }
}
