.page-header__logo {
  width: 320px;
  height: 79px;
  box-shadow: 0px 1px 0 0 #ececec, inset 0px 1px 0 0 #ececec;
}

.site-list__item {
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 70px;
  box-shadow: 0px 1px 0 0 #ececec, inset 0px 1px 0 0 #ececec;
  &--active {
    font-size: 27px;
    line-height: 30px;
    .light-pink;
  }
}

.site-list__link {
  &--search {
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
  }
  &--cart {
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
  }
}
