.page-footer {
  width: 320px;
  margin: 0 auto;
  .light-pink;
}

.page-footer__list {
  list-style: none;
  width: 185px;
  margin: 0 auto;
  padding: 28px 5px 18px 5px;
  display: flex;
  justify-content: space-around;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 772px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    padding-left: 25px;

    &:hover,
    &:focus {
      fill: @aqua-marine;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__list {
    width: 170px;
    padding-left: 145px;
    padding-top: 62px;
    padding-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1150px;
    justify-content: space-between;
  }

  .page-footer__logo {
    padding-left: 30px;
  }
}
