.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-navigation {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  z-index: 2;
  cursor: pointer;
  border: none;
}

.page-navigation--closed .page-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg");
}

.page-navigation--opened .page-navigation__toggle {
  position: absolute;
  top: 29px;
  right: 30px;
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.page-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: @mobile-width-only) {
  .page-navigation--opened .site-list__item {
    display: block;

    &--tablet,
    &--desktop {
      display: none;
    }
  }

  .page-navigation--closed .site-list__item {
    display: none;

    &--logo {
      display: block;
    }
  }

  .page-navigation--nojs .site-list__item {
    display: block;

    &--tablet,
    &--desktop {
      display: none;
    }
  }

  .page-navigation--nojs .page-navigation__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 772px;
  }

  .page-navigation__toggle {
    display: none;
  }

  .page-navigation__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1150px;
  }
}
