.page-navigation {
  display: flex;
  flex-direction: column;
  // Временно для сетки
  min-height: 400px;
  width: 320px;
  margin: 0 auto;
}

.page-navigation__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  width: 320px;
  height: 79px;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
}

.site-list__item {
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 50px;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  &--tablet {
    font-size: 15px;
    font-weight: normal;
    .greyish;
    display: none;
  }

  &--desktop {
    font-size: 15px;
    display: none;
  }
}

.site-list__link {
  &--search {
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
  }

  &--cart {
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
  }
}

.page-navigation__active {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  padding: 70px 0;
  .light-pink;
}

@media (min-width: @tablet-width) {
  .page-navigation {
    min-height: 120px;
    width: 772px;
  }

  .page-navigation__toggle {
    display: none;
  }

  .page-navigation__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .site-list__item {
    &--tablet {
      display: block;
    }

    &--logo {
      order: -5;
    }

    &--search {
      order: -4;
    }

    &--cart {
      order: -3;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-navigation {
    width: 1150px;
  }

  .site-list__item {
    &--desktop {
      display: block;
    }

    &--logo,
    &--search,
    &--cart {
      order: 0;
    }

    &--catalog {
      order: -2;
    }

    &--form {
      order: -1;
    }
  }
}
