@seafoam: #63d1bb;
@seafoam-blue: #62d1ba;
@marine: #56c3b2;
@aqua-marine: #46c1ae;
@greyish: #444444;
@greyish-lite: rgba(68, 68, 68, 0.3);
@light-pink: #f1f1f1;
@tablet-width: 772px;
@desktop-width: 1150px;
@mobile-width-only: 771px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

.light-pink() {
  background: @light-pink;
}

.greyish() {
  color: @greyish;
}

.greyish-lite() {
  color: @greyish-lite;
}

.aqua-marine() {
  color: @aqua-marine;
}
