@import "blocks/var-mixin.less";
@import "blocks/page-header.less";
@import "blocks/slogan.less";
@import "blocks/goods-category.less";
@import "blocks/good-week.less";
@import "blocks/button.less";
@import "blocks/advantages.less";
@import "blocks/comments.less";
@import "blocks/contacts.less";
@import "blocks/page-footer.less";
@import "blocks/catalog.less";
@import "blocks/manufacture.less";
@import "blocks/about-form.less";
@import "blocks/form.less";

@font-face {
  font-family: "Open Sans";
  src: url("opensans.woff2") format("woff2"),
    url("opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("opensansbold.woff2") format("woff2"),
    url("opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
